@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

* {
  margin: 0px;
  padding: 0px;
  color: white;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  font-family: 'Dhurjati';
  margin: 3px;
  padding: 0px;
  font-size: x-large;
  font-weight: 500;
}

.bg-color {
  background-color: #152850;
  list-style-type: none;
  padding: 10px;
}

.input-search {
  height: 30px;
  width: 150px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff33;
  margin: 25px;
  width: 350px;
  border-radius: 10px;
  padding: 5px;
}

.left-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delete-logo {
  height: 25px;
  width: 25px;
}

.image {
  height: 150px;
  width: 150px;
  border-radius: 8px;
  margin-right: 10px;
}
