* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  background-size: cover;
  height: 40vh;
  padding: 10px;
  color: white;
}

@media screen and (max-width: 799px) {
  .bg-container {
    height: 60vh;
    padding-left: 80px;
  }
}
